@page
@model KursachBD.Pages.Legal_entity.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LegalEntity[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegalEntity[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegalEntity[0].Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegalEntity[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LegalEntity[0].Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LegalEntity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Inn">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.Inn">Сведения</a> |
                <a asp-page="./Delete" asp-route-id="@item.Inn">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
