@page
@model KursachBD.Pages.Product_price_history.DeleteModel

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите это удалить?</h3>
<div>
    <h4>История изменения цен</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Прошлая цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPriceHistory.OldPrice)
        </dd>
        <dt class="col-sm-2">
            Новая цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPriceHistory.NewPrice)
        </dd>
        <dt class="col-sm-2">
            Дата изменения
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPriceHistory.ChangedAt)
        </dd>
        <dt class="col-sm-2">
            Изменил
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPriceHistory.ChangedBy)
        </dd>
        <dt class="col-sm-2">
            Номер продукта
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPriceHistory.Product.ProductId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProductPriceHistory.HistoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Вернуться к списку</a>
    </form>
</div>
